{% include "app_fute/partials/head.html" %}
<body>
    {% include "app_fute/partials/header.html" %}
    <div class="main-content-conteiner link-anima">
        <h2>Como criar suas partidas</h2>
        <div class="tutorial">
            <a href="{% url 'competition_create' %}">Crie uma Competição</a>
            <i class="fa-solid fa-arrow-right"></i>
            <a href="{% url 'team_create' %}">Crie pelo menos dois times</a>
            <i class="fa-solid fa-arrow-right"></i>
            <a href="{% url 'match_create' %}">Crie suas Partidas</a>
            <i class="fa-solid fa-arrow-right"></i>
            <a href="{% url 'created_matches' %}">Veja suas partidas criadas</a>
        </div>
        <h2>Campeonatos</h2>
        <div class="grid-conteiner">
            {% for competition in competitions %}
                <div class='card'>
                    <h3>{{ competition.name }}</h3> <br>
                    <a href="{% url 'team_list' competition_id=competition.id %}">Times</a> <br>
                    <a href="{% url 'match_list' competition_id=competition.id %}">Partidas</a>
                    
                </div>
            {% endfor %}
        </div>
    </div>
    {% include "app_fute/partials/footer.html" %}
</body>
</html>